---
import { getCollection } from 'astro:content';
import QuickMatchIsland from '~/components/islands/QuickMatch';

interface Props {
  lang: string;
}

const { lang } = Astro.props as Props;
const allSpas = await getCollection('spa');

const venues = allSpas.map((spa) => ({
  slug: spa.data.slug,
  district: spa.data.district || '',
  priceMin: Number(spa.data.priceMin) || 0,
  priceMax: Number(spa.data.priceMax) || 0,
  freeOvernightRoom: spa.data.freeOvernightRoom || false,
  overnightAllowed: spa.data.overnightAllowed || false,
  open24h: spa.data.open24h || false,
  ktv: spa.data.ktv || false,
  themeRooms: spa.data.themeRooms || false,
  recommendedShow: spa.data.recommendedShow || false,
  isNew: spa.data.isNew || false,
  rating: spa.data.rating || 0,
  buckets: spa.data.buckets || [],
  name: spa.data.name,
  cover: spa.data.cover,
}));
---

<section id="quickmatch" class=" px-4 scroll-mt-6">
  <div class="max-w-5xl mx-auto fade-up in-view">
    <QuickMatchIsland client:visible venues={venues} lang={lang} />
  </div>
</section>
